/*  your css code here. If applicable */
#container{
	margin:20px;
	padding:20px;
	background-color:#f00;
	position:relative;
}
#container::before {
    content: "Before content - ";
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -40px;
    left: 0;
}
#container::after {
    content: " - After content";
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: -40px;
    right: 0;
}