/*  your css code here. If applicable */
#container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9; 
    position: relative; 
}

#container::before {
    content: "Before content - ";
    color: #f00;
    font-size: 20px;
    position: absolute;
    top: -30px;
    left: 0;
}
#container::after {
    content: " - After content";
    color: #f00;
    font-size: 20px;
    position: absolute;
    bottom: -30px; 
    right: 0;
}
